
    <main>
        @RenderBody()
    </main>

<!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="footer-info">
            <h3>Hotell Lyx</h3>
            <p>Strandvägen 12<br>12345 Västervik</p>
            <strong>Hitta hit</strong>
        </div>

        <div class="footer-contact">
            <p><strong>Telefon:</strong> 0490-12345</p>
            <p><strong>Epost:</strong> vastervik@hotmail.se</p>
        </div>

        <!--  Nyhetsbrev -->
        <div class="footer-newsletter">
            <h3>Anmäl dig till vårt nyhetsbrev</h3>
            <form action="#" method="post">
                <input type="email" placeholder="E-postadress" required>
                <button type="submit">Skicka</button>
            </form>
        </div>
    </div>
</footer>

<!-- Navigeringsmeny Gäst-->
<nav>
    <div class="logo">
        <img src="~/images/logo.png" alt="Hotell Logo">
        <h1>HOTELL LYX</h1>
    </div>
    <ul class="nav-links">
        <li><a asp-controller="Rooms" asp-action="Index">Rum</a></li>
        <li><a asp-controller="Home" asp-action="Food">Mat & Dryck</a></li>
        <li><a asp-controller="Home" asp-action="Event">Event</a></li>
        <li><a asp-controller="Home" asp-action="Offers">Erbjudanden</a></li>
    </ul>
    <a href="/Login" class="button login-btn">
        <img src="~/images/login.png" alt="Logga in" class="login-icon"> Logga in
    </a>
</nav>


    
